* {
  box-sizing: border-box;
}

html {
  font: 16px Helvetica, Arial;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

#app {
  padding-top: 3em;
}

.container {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 2em;
}
